* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  background-color: #2d2f35;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

.l-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.l-fullwidth, .l-main, .l-footer {
  max-width: 960px;
}

.l-header {
  height: 550px;
  background-color: #292a2f;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-navbar {
  position: relative;
}

.l-main {
  margin-top: 60px;
  display: block;
}

.l-footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.header--inner {
  width: 100%;
  max-width: 950px;
}

.header--title {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  position: relative;
}

.header--version {
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  background-color: #6930d7;
  border-radius: 4px;
  padding: 4px 8px;
  display: inline-block;
  right: -22px;
  bottom: -10px;
  position: absolute;
  -webkit-animation: rotate 4s ease 0s infinite;
  animation: rotate 4s ease 0s infinite;
}

.header--desc {
  font-weight: 400;
  font-size: 13px;
  color: #aaa;
  line-height: 25px;
  margin-top: 40px;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.header--btn {
  font-size: 13px;
  color: #fff;
  background-color: #6930d7;
  padding: 14px 22px;
  margin: 15px 2px 0 2px;
  display: inline-block;
  border-bottom: 3px solid #5724ba;
  -webkit-transition: 0.3s background-color ease;
  transition: 0.3s background-color ease;
}

.header--btn:hover, .header--btn:focus {
  background-color: #5724ba;
}

.header--btn-small {
  color: #24252A;
  background-color: #fff;
  border-bottom: 3px solid #c7c7c7;
}

.header--btn-small:hover, .header--btn-small:focus {
  background-color: #c7c7c7;
}

.header--btn-container {
  margin-top: 40px;
  text-align: center;
}

.header--btn .btn--name {
  font-weight: 700;
}

.header--scroll {
  font-size: 14px;
  color: #fff;
  margin-top: 50px;
}

.header--scroll .scroll--bold {
  font-weight: 700;
  display: block;
}

.header--scroll .scroll--icon {
  font-size: 24px;
  display: block;
}

.navbar--inner {
  max-width: 1100px;
  min-height: 80px;
  background-color: #24252A;
  border-bottom: 2px solid #18191c;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0 15px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.navbar--menu {
  max-width: 1070px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.navbar--item {
  display: block;
}

.navbar--link {
  font-weight: 600;
  font-size: 13px;
  color: #aaa;
  display: block;
  padding: 10px 5px;
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;
}

.navbar--link:hover, .navbar--link:focus {
  color: #6930d7;
}

.navbar--icon {
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
}

.navbar--mobile-btn {
  width: 36px;
  height: 36px;
  margin-top: 21px;
  margin-bottom: 21px;
  display: block;
  cursor: pointer;
  position: relative;
}

.navbar--mobile-btn .btn--icon-bar {
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: block;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  position: absolute;
}

.navbar--mobile-btn .btn--icon-bar:nth-child(1) {
  top: 5px;
}

.navbar--mobile-btn .btn--icon-bar:nth-child(2) {
  top: 17px;
  width: 80%;
}

.navbar--mobile-btn .btn--icon-bar:nth-child(3) {
  top: 29px;
}

.section {
  padding: 80px 0;
}

.section--heading {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.section--content {
  font-size: 14px;
  line-height: 26px;
  color: #aaa;
}

.footer--copyright {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.footer--author {
  color: #aaa;
  font-size: 12px;
}

.footer--icon {
  color: #6930d7;
  margin-left: 2px;
  margin-right: 2px;
}

.footer--link {
  font-weight: 600;
  color: #aaa;
}

.footer--link:hover, .footer--link:focus {
  color: #fff;
}

.l-navbar::before {
  content: '';
  background-color: #292a2f;
  width: 100%;
  height: 50%;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
}

.l-navbar.is-sticky {
  z-index: 10;
  top: 0;
  width: 100%;
  position: fixed;
}

.l-navbar.is-sticky .navbar--inner {
  max-width: 100%;
}

.navbar--menu.is-toggled {
  display: block;
}

.navbar--mobile-btn.is-toggled .btn--icon-bar {
  top: 17px;
}

.navbar--mobile-btn.is-toggled .btn--icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar--mobile-btn.is-toggled .btn--icon-bar:nth-child(2) {
  width: 0;
}

.navbar--mobile-btn.is-toggled .btn--icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes rotate {
  80%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  85%,
  95% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  90% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}

@keyframes rotate {
  80%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  85%,
  95% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  90% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}

@media (min-width: 480px) {
  .navbar--menu {
    height: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar--item {
    display: inline-block;
    margin-right: 40px;
  }
  .navbar--mobile-btn {
    display: none;
  }
}

@media (min-width: 768px) {
  .header--title {
    font-size: 48px;
  }
  .header--version {
    bottom: -8px;
  }
  .section {
    padding: 150px 0;
  }
}
