*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-weight: $font-regular;
  background-color: $color-black-light;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Screen reader class
.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  position: absolute;
}