// Navbar
.l-navbar.is-sticky { 
  z-index: 10;
  top: 0;
  width: 100%;
  position: fixed;
}

.navbar--menu.is-toggled {
  display: block;
}

.navbar--toggler.is-toggled {
  .toggler--bar {
    background-color: rgba(0, 0, 0, 0);

    &::before {
      transform: translateY(0) rotate(45deg);
    }

    &::after {
      transform: translateY(0) rotate(-45deg);
    }
  }
}

// Keyframes
@keyframes rotate {
  80%,
  100% {
    transform: rotate(0deg);
  }

  85%,
  95% {
    transform: rotate(4deg);
  }

  90% {
    transform: rotate(-4deg);
  }
}

// Media queries
// (Min-width: 480px)
@media (min-width: 480px) {
  // Navbar
  .navbar {
    &--menu {
      height: 80px;
      display: flex;
      align-items: center;
    }

    &--item {
      display: inline-block;
      margin-right: 40px;
    }

    &--toggler {
      display: none;
    }
  }
}

// (Min-width: 768px)
@media (min-width: 768px) {
  // Header
  .header {
    &--title {
      font-size: 48px;
    }

    &--version {
      bottom: -8px;
    }
  }

  // Section
  .section {
    padding: 150px 0;
  }
}